body {
  margin: 0;
  line-height: normal;
}
.bg-icon8,
.bg-icon9 {
  left: 0;
  width: 1920px;
  object-fit: cover;
}
.bg-icon8 {
  position: absolute;
  top: 124px;
  height: 889px;
}
.bg-icon9 {
  top: 0;
  height: 137.2px;
}
.bg-icon9,
.bg9,
.sign-up14 {
  position: absolute;
}
.bg9 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg) var(--br-xl) var(--br-sm) var(--br-sm);
  background-color: var(--color-deepskyblue);
  width: 137.81px;
  height: 57.3px;
}
.sign-up14 {
  text-decoration: none;
  top: 11.5px;
  left: 19.25px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  font-family: var(--text-sm-medium);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 99.48px;
  height: 33.82px;
}
.sign-up13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 33.57px;
  left: 1728.75px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.sign-in14 {
  text-decoration: none;
  position: absolute;
  top: 13.46px;
  left: 24.05px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  font-family: var(--text-sm-medium);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 89.44px;
  height: 33.82px;
}
.sign-in13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32.61px;
  left: 1564.95px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.search-bar-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gainsboro-100);
  width: 293.07px;
  height: 58.51px;
}
.search-bar-child5 {
  border: 0;
  background-color: var(--color-gainsboro-300);
  position: absolute;
  top: 4.39px;
  left: 61.77px;
  border-radius: var(--br-4xs);
  width: 214px;
  height: 48px;
}
.search4 {
  position: absolute;
  top: 0.87px;
  left: 40.31px;
  font-size: var(--font-size-2xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue);
  text-align: left;
  display: none;
  align-items: center;
  width: 99.09px;
  height: 25.32px;
}
.extra-icons4,
.search-bar4,
.search-parent2 {
  position: absolute;
  width: 26.87px;
  height: 28.82px;
}
.extra-icons4 {
  top: 0;
  left: 0;
  overflow: hidden;
  object-fit: cover;
}
.search-bar4,
.search-parent2 {
  top: 15.72px;
  left: 26.03px;
}
.search-bar4 {
  top: 32.61px;
  left: 1238.23px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 293.07px;
  height: 58.51px;
}
.nav-bar-child1,
.nortification-icon4 {
  position: absolute;
  top: 21.65px;
  left: 1143.23px;
  width: 80.21px;
  height: 82.35px;
  object-fit: cover;
}
.nav-bar-child1 {
  top: 42.06px;
  left: 1193px;
  width: 15px;
  height: 15.02px;
}
.disease-predictor9 {
  color: var(--color-blue);
}
.span19 {
  color: var(--color-firebrick-100);
}
.disease-predictor-txt-container4 {
  line-break: anywhere;
  width: 100%;
}
.disease-predictor8 {
  position: absolute;
  top: 11px;
  left: 161px;
  font-size: var(--font-size-10xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  text-align: left;
  display: flex;
  align-items: center;
  width: 650px;
  height: 90px;
  text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
}
.icon5,
.logo4 {
  position: absolute;
  height: 125px;
}
.icon5 {
  top: 0;
  left: 0;
  width: 143px;
  object-fit: cover;
}
.logo4 {
  text-decoration: none;
  top: 8px;
  left: 36px;
  width: 811px;
}
.nav-bar4,
.part14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
}
.nav-bar4 {
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  height: 137.2px;
}
.part14 {
  height: 1013px;
}
.select-symptoms {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.title10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--mini-title-bg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 271.5px;
  height: 266px;
}
.menu-2-inner,
.menu-2-item {
  position: absolute;
  top: 59px;
  left: 3.5px;
  background-color: var(--color-gainsboro-400);
  width: 264px;
  height: 52px;
}
.menu-2-inner {
  top: 167px;
}
.angel-falls-venezuela {
  margin-block-start: 0;
  margin-block-end: 0;
}
.angel-falls-venezuela-container,
.niagara-falls-container {
  position: absolute;
  top: 19px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
  height: 15px;
}
.niagara-falls-container {
  top: 126px;
}
.iguazu-falls-argentina-container,
.kaieteur-falls-guyana-container,
.victoria-falls-zambia-container {
  position: absolute;
  top: 232px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
  height: 15px;
}
.iguazu-falls-argentina-container,
.victoria-falls-zambia-container {
  top: 184px;
}
.victoria-falls-zambia-container {
  top: 74px;
}
.menu-2-child1,
.menu-2-child2 {
  position: absolute;
  top: 4px;
  left: 256.85px;
  background-color: var(--color-darkslategray-200);
  width: 10.14px;
  height: 260px;
}
.menu-2-child2 {
  top: 130px;
  background-color: var(--color-darkgray-200);
  height: 51px;
}
.menu-2 {
  position: absolute;
  top: 1px;
  left: 551.5px;
  width: 271.5px;
  height: 266px;
}
.menu-2-child4,
.menu-2-child5,
.menu-2-child7 {
  position: absolute;
  top: 59px;
  left: 3.25px;
  background-color: var(--color-gainsboro-400);
  width: 264px;
  height: 52px;
}
.menu-2-child5,
.menu-2-child7 {
  top: 167px;
}
.menu-2-child7 {
  top: 67px;
  left: 256.85px;
  background-color: var(--color-darkgray-200);
  width: 10.14px;
  height: 51px;
}
.menu-21 {
  position: absolute;
  top: 1px;
  left: 275.75px;
  width: 271.5px;
  height: 266px;
}
.menu-1-child1,
.menu-1-inner,
.menu-1-item {
  position: absolute;
  top: 4px;
  left: 3px;
  background-color: var(--color-gainsboro-400);
  width: 264px;
  height: 52px;
}
.menu-1-child1,
.menu-1-inner {
  top: 210px;
}
.menu-1-child1 {
  top: 112px;
}
.niagara-falls-container2 {
  position: absolute;
  top: 126px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
}
.menu-1-child3 {
  position: absolute;
  top: 158px;
  left: 256.85px;
  background-color: var(--color-darkgray-200);
  width: 10.14px;
  height: 51px;
}
.menu,
.menu-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 271.5px;
  height: 266px;
}
.menu {
  top: 72px;
  width: 823px;
  height: 267px;
}
.selected-4-child,
.selected-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
}
.selected-child {
  background-color: var(--mini-title-bg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 823px;
  height: 61px;
}
.selected-4-child {
  background-color: var(--color-palegoldenrod);
  width: 127px;
  height: 38px;
}
.waterfalls,
.x {
  position: absolute;
  top: 9px;
  left: 12px;
  display: inline-block;
  width: 78px;
}
.x {
  left: 108px;
  width: 9px;
}
.selected-1,
.selected-2,
.selected-3,
.selected-4 {
  position: absolute;
  top: 12px;
  left: 427px;
  width: 127px;
  height: 38px;
}
.selected-1,
.selected-2,
.selected-3 {
  left: 289px;
}
.selected-1,
.selected-2 {
  left: 151px;
}
.selected-1 {
  left: 13px;
}
.div,
.selected {
  position: absolute;
  height: 61px;
}
.div {
  top: 21px;
  left: 782px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 26px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.selected {
  top: 0;
  left: 0;
  width: 823px;
}
.menu-parent {
  position: relative;
  width: 823px;
  height: 339px;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.checkbox-icon {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  width: 31.22px;
  height: 16px;
}
.gravida-eget-ultricies {
  text-decoration: underline;
  font-weight: 600;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 0;
  left: 56.59px;
  display: inline-block;
  width: 704.41px;
}
.check-box {
  position: relative;
  width: 761px;
  height: 42px;
  flex-shrink: 0;
  font-size: 17px;
}
.proceed-to-next1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.button2,
.symptoms {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.button2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-springgreen);
  width: 399px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-lg);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.symptoms {
  position: absolute;
  top: 186px;
  left: 107px;
  border-radius: var(--br-2xl);
  background-color: var(--mini-title-bg);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--color-gainsboro-200);
  width: 943px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg);
  justify-content: flex-start;
  gap: 30px;
}
.step-2 {
  position: relative;
  width: 100%;
  height: 1013px;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--text-sm-medium);
}
